.container {
    display: block;
    background-color: black;
    padding: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex: 1;
    margin: 20px;
}

.column-1 {
    width: 60%;
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.column-2 {
    width: 40%;
    background-color: brown;
}